{% extends "layout.html" %}
{% block title %}Add Company{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="h1">Add Company</div>
    <div>
        <form method="POST">
            {#
            generate fields with proper types for
            name
            address
            city
            website
            #}
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" name="name" type="text"/>
            <label class="form-label" for="address">Address</label>
            <input class="form-control" id="address" name="address" type="text"/>
            <label class="form-label" for="city">City</label>
            <input class="form-control" id="city" name="city" type="text"/>
            <label class="form-label" for="zip">Zip</label>
            <input class="form-control" id="zip" name="zip" type="number"/>
            <label class="form-label" for="website">Website</label>
            <input class="form-control" id="website" name="website" type="text"/>
            {# use this for country/state selection #}
            {% include "country_state_selector.html" %}
            <input type="submit" class="btn btn-primary" value="Save Company" />
        </form>
    </div>
</div>
{% endblock %}